/* Style sheet created by: Terry Dennison Fall 2020 */

/*float image left*/
.float-left {float: left;}





/*BEGIN OF MOBILE VIEWPORT STYLES*/



/*Add some space between image and content floated and puts the content below the image*/
img {margin-right: 5%;
	margin-bottom:2%;
	max-width: 100%;
	float:left;
}

/*center audio control*/
audio{
	text-align: center;
}

/*Table style*/

border table, tr, td {
	border: 0.1em solid #000000;
	border-collapse: collapse;
	width: 75em;
}

/*styling for container*/
#container {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		
}
/*Styling for header*/
header {
		margin-top: 0.2em;
		background-color: beige;
		
		border-radius: 0.5em;
		text-align: center;
}

/*styling for footer*/
footer {
	text-align: center;
}

/*styling for navigation links*/
nav {
		font-family: Futura, "Calibri", sans-serif;
		font-size: 1.25em;
		font-weight: bold;
		text-align: center;
		width: 100%;
		
		
}
 /*styling for navigation unordered list*/
.navbar  {
		
	width: 100%;
	
	top: 0;
	position: fixed;
	display:inline-block;
	
}

/*styling for navigation list*/
.navbar nav li  {
	background-color: grey;
	border-radius: 0;
	border-style:solid;
	width: 19%;
	
		
}


/*specific styling for list*/
.navbar a {
	color: white;
	text-decoration: none;
	
	
	
}

/*styling for figure element*/
figure {
	
	height: 10em;
	width: 100%;
	margin: 1%;
	padding: 1%;
	display: block;
	
}


/*END OF MOBILE VIEWPORT*/


/*Media query for tablet viewport*/

@media only screen and (min-width: 481px) {
	
	/*media query styl for nav*/
		nav li {
			display: inline;
			float: left;
			margin-left: 1%;
			margin-right: 1%;
			padding-left: 0;
			padding-right: 0;
			width: 18%;
			
	}
	
	/*Style for margin*/
	
	main {
			clear: left;
			margin-top: 4em;
	}
	
	/*Style to hide mobile class*/
	.mobile {
			display: none;
	}
	
	/*Style to display desktop class*/
	.desktop {
			display: inline;
	}
	
	
	
	
	/*Media Query for desktop*/
	
	@media only screen and (min-width: 769px) {
		
		
		#container {
				width: 80%;
				
		}
		
		/*Style for margin in desktop view*/
		
		nav ul {
			margin: 0;
			padding-left: 0.50%;
			padding-right: 0.50%;
		}
		
		/*Style or baorders*/
		
		nav li {
			border-radius: 0;
			border-top: solid #000000;
			border-bottom: solid #000000;
			margin-left: 0;
			margin-right: 0;
			padding: 0;
			width: 100%;
		}
		
		/*Style for navigation links*/
		
		nav li a {
				display: inline-block;
				padding: 0.7em;
		}
		
		/*Style for border for desktop view*/
		
		main {
				border-style: none;
				box-shadow: 0.5em 0.5em 0.5em #404040;
				margin-bottom: 1em;
				margin-top: 1em;
		}
		
		/*specific styling for main element*/
		main p {
			padding-left: 0.5em;
			padding-right: 0.5em;
		}
		
		
			
	}
/*Remove bullets from list*/

nav li {list-style-type: none; }

/*style outerwrapper to take up 70% of space screen and center within that space*/

#outerwrapper {width: 70%;
margin: 0 auto 0 auto;
}

/*clears the float within the main content */

#main {clear: both;
		background-color: beige;
		padding: 3%;
		border: 2px black solid;
		border-radius: 25px;
		
}




/*Puts name at the top of the webpage with large Futura font*/

.myname {font-family: Futura, Calibri, sans-serif;
font-size: 12pt;
text-shadow: 0.1em 0.1em #3D3D35;
}

h2 {
	font-size: 16pt;
}

body {
	padding: 5%;
	/*background-color: teal;*/
	background-image: url(https://www.pexels.com/photo/mountain-covered-snow-under-star-572897/)
}
}




